<form method="post" action="{{ path('sale_delete', {'id': sale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sale.id) }}">
    <button class="btn">Delete</button>
</form>
